  <style>
    body {
      font-family: "Montserrat";
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .popup {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 99999999;
    }

    .popup-content {
      display: flex;
      background: #fff;
      border-radius: 25px;
    }

    .popup-image {
      flex: 1;
      padding-right: 62px;
      overflow: visible;
    }

    .popup-image img {
      width: 165%;
      margin-left: -83px;
      margin-top: -90px;
    }

    #popup-form {
      padding: 15px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input,
    .form-group select {
      width: 100%;
      padding: 10px 15px 10px 10px;
      border-radius: 10px;
      box-sizing: border-box;
    }

    .btn {
      background-color: #ff7700;
      color: white;
      padding: 10px 15px;
      font-weight: 800;
      border: none;
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }

    .btn:hover {
      background-color: #FFA556;
      color: white;
      transform: scale(1.1);
    }
	
	.btn:disabled {
      opacity: 0.5; /* Opacidade mais baixa para botão desativado */
	  transform: scale(1.0);
      cursor: not-allowed; /* Altera o cursor para indicar que o botão está desativado */
    }

    .close-button {
      cursor: pointer;
      font-size: 20px;
      margin-top: -10px;
      margin-right: -10px;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e0e0e0;
      border-radius: 100px;
      color: #333;
      padding: 15px;
    }
  </style>